flasgger==0.9.7.1
Flask==3.1.0
flask_caching==2.3.0
peewee==3.17.8
prometheus_flask_exporter==0.23.1
psycopg2==2.9.10
pytest==8.3.4
python_json_logger==2.0.7
PyYAML==6.0.2
PyYAML==6.0.2
voluptuous==0.15.2
